.word-separator {
  overflow: hidden;
  text-align: center;
}

.word-separator span {
  position: relative;
  display: inline-block;
}

.word-separator > span::before,
.word-separator > span::after {
  content: "";
  position: absolute;
  top: 50%;
  border-bottom: 1px solid #eee;
  width: 100vw;
  margin: 0 20px;
}
.word-separator::before {
  margin-left: -50%;
  text-align: right;
}

.word-separator > span::before {
  right: 100%;
}

.word-separator > span::after {
  left: 100%;
}
