.comment {
  background-color: hsl(var(--clr-accent), 0.1);
  border-radius: 0.3rem;
  padding: 2rem;
}

.comment-info {
    justify-content: space-between;
    align-items: baseline;
}

.comment-commentator {
    font-weight: 600;
}

.comment p:last-child {
    padding-top: 1rem;
}