.section-selling-points {
  background-color: hsl(var(--clr-accent), 0.08);
}

.section-selling-points-wrapper {
  padding: 6rem 0;
}

.selling-point {
  margin: 1.5rem 0;
}

.selling-point .check-icon {
  display: inline-block;
  height: 0.8rem;
  padding-right: 0.6rem;
}

@media (max-width: 800px) {
  .selling-points {
    flex-direction: column;
    align-items: center;
  }
}
