.create-offer-wrapper {
  max-width: 28rem;
  width: 90%;
  flex-flow: column wrap;
}


.offer-category-options {
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  border: 1px solid hsl(0, 0%, 73%);
  width: 100%;
  color: hsl(var(--clr-dark));
}

.offer-category-options *:hover {
    background-color: hsl(var(--clr-accent));
}

