.footer {
  color: hsl(var(--clr-accent-dark));
  background-color: hsl(var(--clr-accent), 0.6);

  &__wrapper {
    padding: 4rem 0;
    grid-template-columns: repeat(4, 1fr);
  }

  &__title {
    font-size: 1rem;
    font-weight: 700;
  }

  &__list {
    list-style: none;
    padding-left: 0;

    &:nth-child(4) {
      align-self: flex-end;
    }
  }

  &__link {
    color: hsl(var(--clr-accent-dark));
    font-size: 0.9rem;
  }

  &__social-icon {
    height: 1rem;
  }
}

@media (max-width: 50em) {
  .footer__wrapper {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    text-align: center;
  }
}

@media (max-width: 31.25em) {
  .footer__wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}
