.footer {
  color: hsl(var(--clr-accent-dark));
  background-color: hsl(var(--clr-accent), 0.6);
}

.footer h5 {
  font-size: 1rem;
  font-weight: 700;
}

.footer-wrapper {
  padding: 4rem 0;
  justify-content: space-between;
}

.footer-list {
  list-style: none;
  padding-left: 0;
}

.footer-list:nth-child(3) {
  align-self: flex-end;
}

.footer-link {
  color: hsl(var(--clr-accent-dark));
  font-size: 0.9rem;
}

.footer-link img {
  height: 1rem;
}
