.oauth-btn {
  background-color: var(--clr-white);
  border: 1px solid #bbb;
  padding: .5rem 1rem;
  border-radius: .3rem;
  width: 100%;
  transition: all .2s;
  cursor: pointer;
}

.oauth-btn:hover {
  background-color: #fafafa;

}

.oauth-icon {
  display: inline-block;
  width: 1.5rem;
}
