.btn-secondary {
  color: hsl(var(--clr-accent));
  background-color: hsl(var(--clr-white));
  border: 1px solid hsl(var(--clr-accent));
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  transition: all 0.2s;
  cursor: pointer;
}

.btn-secondary:hover {
  color: hsl(var(--clr-accent-dark));
  border: 1px solid hsl(var(--clr-accent-dark));
}
