.primary-navigation {
  background-color: #fff;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
}

.primary-navigation-logo {
  font-size: 1.3rem;
}

.primary-navigation li {
  list-style: none;
}

.primary-navigation a {
  color: hsl(var(--clr-dark));
  text-decoration: none;
  transition: all.2s;
}

.primary-navigation a:hover {
  color: hsl(var(--clr-accent));
}

.menu-icon-container {
  cursor: pointer;
}

.logo-container {
  justify-content: space-between;
  align-items: center;
}

.menu-icon-container {
  display: none;
}

.header-nav {
  display: flex;
  gap: 1rem;
}

@media (max-width: 600px) {
  .menu-icon-container {
    display: block;
  }

  .primary-navigation {
    flex-direction: column;
  }

  .logo-container {
    width: 100%;
    justify-content: space-between;
  }

  .header-nav {
    display: none;
  }

  .expanded {
    display: flex;
    flex-flow: column wrap;
    text-align: center;
  }
}
