.modal-buttons {
    flex-flow: column wrap;
}

.modal-buttons button:first-child {
  margin-right: 1rem;
}

.profile-offer-card {
  max-width: 22rem;
  border: 1px solid #e2e2e2;
  border-radius: 0.3rem;
}

.profile-offer-wrapper {
  padding: 2rem;
}

.profile-offer-img {
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}

.profile-offer-info {
  justify-content: space-between;
  border-top: 1px solid #e2e2e2;
  padding-top: 0.8rem;
}

.profile-offer-title {
  color: hsl(var(--clr-dark));
  text-align: center;
}
