.login {
  justify-content: center;

  &__card {
    width: 100%;
    max-width: 25rem;
    flex-flow: column wrap;
  }

  &__wrapper {
    padding: 2rem;
    margin: 2rem 0;
    flex-flow: column wrap;
    text-align: center;
  }

  &__form {
    flex-flow: column wrap;
  }
}