.textarea-input {
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  border: 1px solid hsl(0, 0%, 73%);
  width: 100%;
  color: hsl(var(--clr-dark));
}

.textarea-input:focus {
  outline: 1px solid hsl(0, 0%, 65%);
}
